---
import "../../styles/blobby.scss";
---

<p></p>
<div class="blobby-body">
  <div class="eyes">
    <div class="pupils"></div>
  </div>
  <div class="arms"></div>
  <div class="lips"></div>
</div>
