* {
  cursor: none;
}
body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  -webkit-tap-highlight-color: transparent;
  transition: all ease 0.4s;
  &:hover > #cursor {
    opacity: 1;
  }
  &:hover > #pointer {
    opacity: 1;
  }
  #cursor {
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 10000;
    pointer-events: none;
    opacity: 0;
    // border: 2px solid #f5f749;
    transition: opacity 200ms ease, background-color 200ms ease;
  }
  #pointer {
    height: 0.5rem;
    width: 0.5rem;
    border-radius: 50%;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 10000;
    pointer-events: none;
    opacity: 0;
    // background-color: green;
    transition: opacity 200ms ease;
  }
}
::-webkit-scrollbar {
  width: 6px;
  background: #acb7e1;
  &-thumb {
    background: #4577af;
    border-radius: 10px;
  }
}

.myBorder {
  border: 2px solid purple;
}

.card {
  opacity: 0;
  transition: 0.8s ease;
  transform: translateX(-8rem);
  &.show {
    transform: translateX(0);
    opacity: 1;
  }
  @media (prefers-reduced-motion) {
    .card {
      transition: none;
    }
  }
}
.hidden-content {
  display: none;
  // opacity: 0.5;
}
