---
interface Props {
  subTitle: string;
}
const { subTitle } = Astro.props;
---

<div class="flex flex-row items-center mb-2">
  <p
    class="my-2 mr-2 capitalize font-medium text-gray-600 dark:text-gray-300 text-lg">
    {subTitle}
  </p>
  <div class="mt-1 bg-gray-400 dark:bg-gray-600/50 h-px grow"></div>
</div>
<!-- <div class="flex items-center"> 
  <p
    class="mr-4 capitalize font-medium text-gray-700 dark:text-gray-300 text-lg">
    {subTitle}
  </p>
 
  <div class="-mb-1 w-2 h-2 rounded-full bg-gray-400"></div>
  <div class="-mb-1 flex-grow border-t bg-gray-400 dark:bg-gray-600/50"></div>
</div> -->
