---
export interface Props {
  title: string;
}
const { title } = Astro.props;
---

<!-- <div class='flex flex-row items-center'> -->
<h1
  class='capitalize text-sm md:text-xl font-extrabold text-myTextBlue font-sourceCode'
>
  {`{ ${title} }`}
</h1>
<!-- <div class='bg-gray-200 dark:bg-gray-600 h-px w-full'></div> -->
<!-- </div> -->
