---
interface Props {
  iconSrc: string;
  skillName: string;
  progress: number;
  backgroundColor?: string; // Optional prop for background color
}

const { skillName, progress, iconSrc, backgroundColor } = Astro.props;
---

<div class="interactable gap-3 w-28 text-slate-700 dark:text-slate-400">
  <div>
    <div class="flex gap-2 mb-1">
      <img src={iconSrc} alt={skillName} class="h-auto w-4" />
      <p class="text-xs md:text-sm truncate overflow-hidden ...">
        {skillName}
      </p>
    </div>
  </div>

  <div class="relative w-full h-2 bg-slate-600 rounded">
    <div
      class={`absolute top-0 left-0 h-full rounded ${
        backgroundColor ? backgroundColor : "bg-slate-200"
      }`}
      style={{ width: `${progress}%` }}>
    </div>
  </div>
</div>
