---
import BaseLayout from '@layouts/BaseLayout.astro';
import AboutSection from '@sections/AboutSection.astro';
import SkillsSection from '@sections/SkillsSection.astro';
import LanguageSection from '@sections/LanguageSection.astro';
// import TestSkill2 from '@sections/TestSkill2.astro';
// import ModalIframe from '@components/ModalIframe';
const pageTitle = 'Home';
const seoTitle = 'Mulrem  Home';
const seoDescription =
  'Discover a world of cutting-edge software solutions and creative craftsmanship at Mulrem. Our team of experts offers full-stack services, from software development and architecture to photography, videography, and design. Explore our portfolio of remarkable projects and immerse yourself in our insightful blogs covering cloud architecture, React Native performance, crochet works, travel adventures, and more. Experience excellence, responsibility, and quality in every aspect of our work. Join us on this exciting journey of innovation and creativity';
---

<BaseLayout
  pageTitle={pageTitle}
  seoTitle={seoTitle}
  seoDescription={seoDescription}
>
  <AboutSection />
  <SkillsSection />
  <LanguageSection />
  <!-- <TestSkill2 /> -->
  <!-- <ModalIframe client:load /> -->
  <p>lkdfjlkj</p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere, itaque
    totam saepe illum corporis tenetur? Quaerat culpa repudiandae ratione nobis
    odio, sint facere est et deleniti vel nostrum impedit dignissimos officiis
    sapiente aliquam commodi distinctio. Quos, provident velit quibusdam quasi
    distinctio eius laudantium possimus dolorum nobis quaerat labore, explicabo
    modi perferendis numquam vero qui, soluta corrupti fuga eum tempore
    praesentium molestiae facilis pariatur. Similique, saepe assumenda.
    Dignissimos nam beatae aperiam facilis? Sint, sed quod. Laudantium facilis
    excepturi consequuntur vitae, eius iste incidunt atque! Voluptas, omnis
    nobis amet sint saepe laudantium animi inventore consequuntur harum eaque
    porro cumque vero dolor deleniti quae? Dolorem natus voluptates laudantium
    molestias maxime ex? Ullam deserunt quos nemo commodi veritatis? Possimus,
    qui! Pariatur inventore ex soluta illo, culpa tempora nihil, omnis dolor
    doloribus quos accusantium earum quisquam ad sint sed odit nostrum rem
    officiis tenetur ut! Exercitationem aliquam voluptatibus ducimus iusto,
    officia quos alias provident dignissimos soluta est, necessitatibus repellat
    tempore quae laborum officiis illum beatae, quod numquam in pariatur. Eaque
    sunt inventore assumenda perspiciatis eum adipisci, quibusdam architecto
    ullam odio natus nemo suscipit placeat a quos dolorem recusandae neque
    minus. Tenetur nisi reiciendis saepe nulla quia debitis rem commodi
    reprehenderit voluptatibus doloribus sequi officia, minus animi consectetur,
    minima atque fugiat maxime perferendis nostrum ullam, hic nam eveniet quod.
    Amet voluptas quasi rem voluptatum voluptates. Natus accusamus aut placeat
    cumque, id suscipit tenetur pariatur quae, ipsam nam, optio modi totam
    assumenda illo. Ipsum officiis deserunt, atque nesciunt debitis veniam,
    impedit illum cumque sed facere voluptatum magni minima consequatur facilis
    suscipit eligendi dolorum tempore deleniti, eum doloribus laborum
    repudiandae ipsa. Rerum quo hic, itaque mollitia ex animi, quidem est
    adipisci unde perferendis modi iusto perspiciatis praesentium veniam earum
    quibusdam nam commodi eaque? Sint nesciunt minus exercitationem quae beatae
    laudantium quaerat. Vero nisi veritatis voluptatem, blanditiis nostrum
    molestiae perferendis voluptate dolorum ullam doloremque esse aperiam
    eveniet odit ea nesciunt libero beatae dolores a consequuntur facere
    quibusdam quaerat ex placeat aut. Eos dolorum, quam delectus maxime sapiente
    cupiditate pariatur eum veniam incidunt iure iste unde suscipit expedita
    necessitatibus! Ullam facere repellat enim quas alias ex quos veniam amet
    laborum quidem? Nobis impedit reprehenderit, sed ratione iure adipisci illo
    doloremque dignissimos quasi voluptatem voluptate, obcaecati eligendi
    exercitationem blanditiis. Iste eaque ipsum dicta porro? Accusantium aperiam
    temporibus dignissimos adipisci illum. Libero dolor dolorum id quo adipisci
    inventore est voluptatem ex nobis, reprehenderit culpa aut iste harum facere
    non optio doloremque impedit consequatur nostrum dolores dolore modi porro
    reiciendis cum. Libero numquam voluptatem aut est sunt eaque enim quia, eos
    labore eum asperiores officiis. Amet quasi quam tempore molestias sunt
    soluta quisquam dignissimos omnis et quis aspernatur at, consectetur eaque
    repudiandae veniam nam a, placeat quidem optio inventore nostrum rem
    obcaecati magnam? Iste ratione corporis totam minima ea qui, praesentium ad!
    Debitis perspiciatis quae veniam illo natus ducimus temporibus provident
    amet, nam quod quo aliquam. Exercitationem itaque labore at saepe molestias
    sequi adipisci temporibus minus eos porro perferendis officia esse, quos
    quaerat omnis, culpa ea ex voluptatibus animi modi! Molestias laborum
    soluta, doloremque ullam quibusdam commodi amet, debitis beatae nobis nemo
    cupiditate, accusamus ipsam deserunt? Repellat, fuga harum ipsam mollitia
    adipisci cum? Reprehenderit non cum, facilis labore vitae, nostrum amet quis
    impedit nulla tempora esse architecto necessitatibus deleniti quasi! Ut
    beatae nemo molestiae officiis quidem, delectus, ratione voluptatibus facere
    esse expedita blanditiis placeat optio, cumque tempora unde? Laudantium
    recusandae assumenda, excepturi aut ipsam consequatur error perspiciatis
    voluptatibus ipsum tempora labore quidem eum sunt voluptas laborum quo
    repellendus nemo, iure exercitationem! Porro, deleniti. Commodi neque
    repellendus, veritatis a doloremque natus cum fugiat consequuntur, beatae
    assumenda quas deleniti soluta. Aut dolorum, error aliquid omnis ad dolor
    doloribus ipsam numquam in a voluptate, nulla consectetur labore expedita
    velit ex corrupti fuga sunt consequatur soluta doloremque culpa sequi quod!
    Sed aperiam, nesciunt at error necessitatibus corporis tempora, quasi,
    laudantium fugit deleniti cum nemo mollitia eius! Nobis repellendus cumque,
    ex ad, voluptatibus voluptatum deleniti, perspiciatis quisquam facere
    necessitatibus excepturi possimus dicta? Aliquid, illo. Molestias veniam
    velit vitae animi corrupti! Natus rem dolorum atque sed ducimus debitis
    eligendi consequatur quibusdam modi provident, mollitia consectetur rerum?
    Eum nostrum ullam doloribus, consectetur reiciendis laborum aliquam
    reprehenderit rerum provident quam in assumenda tempora iure ab quis
    excepturi totam, alias tenetur sapiente iste inventore voluptates! Alias
    modi tempore voluptate delectus perferendis, eius, sequi molestias non
    consequatur quas voluptas. Dolores, atque. Maiores cupiditate eligendi fugit
    suscipit voluptate quis. Tenetur sint optio quidem illum nemo eaque atque
    laudantium eveniet aliquid quo magnam beatae, temporibus reprehenderit
    sequi, nisi ex, magni numquam voluptatum eius soluta accusamus? Odio placeat
    repellendus aliquam dolorum libero? Autem dicta, aliquam dolorem commodi
    ratione in molestias, nisi quas incidunt facere voluptatum labore id
    architecto? Velit, quasi voluptatum. Atque aspernatur quia sequi delectus
    magnam voluptatibus similique iusto? Nisi hic labore incidunt sit dolorum
    commodi, dolore eaque libero quasi ipsa delectus ea architecto harum.
  </p>
</BaseLayout>
