---
import BaseLayout from '@layouts/BaseLayout.astro';
import AboutSection from '@sections/AboutSection.astro';
import SkillsSection from '@sections/SkillsSection.astro';
import LanguageSection from '@sections/LanguageSection.astro';
import EducationSection from '@sections/EducationSection.astro';
import ExperienceSection from '@sections/ExperienceSection.astro';
import ProjectSection from '@sections/ProjectSection.astro';
// import TestSkill2 from '@sections/TestSkill2.astro';
// import ModalIframe from '@components/ModalIframe';
const pageTitle = 'Home';
const seoTitle = 'Mulrem  Home';
const seoDescription =
  'Discover a world of cutting-edge software solutions and creative craftsmanship at Mulrem. Our team of experts offers full-stack services, from software development and architecture to photography, videography, and design. Explore our portfolio of remarkable projects and immerse yourself in our insightful blogs covering cloud architecture, React Native performance, crochet works, travel adventures, and more. Experience excellence, responsibility, and quality in every aspect of our work. Join us on this exciting journey of innovation and creativity';
---

<BaseLayout
  pageTitle={pageTitle}
  seoTitle={seoTitle}
  seoDescription={seoDescription}
>
  <p>
    TODO: add splash screen, finish projects section, add animations, fix colors
  </p>
  <AboutSection />
  <SkillsSection />
  <LanguageSection />
  <EducationSection />
  <ExperienceSection />
  <ProjectSection />
  <!-- <TestSkill2 /> -->
  <!-- <ModalIframe client:load /> -->
  <p>lkdfjlkj</p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere, itaque
    totam saepe illum corporis tenetur? Quaerat culpa repudiandae ratione nobis
    odio, sint facere est et deleniti vel nostrum impedit dignissimos officiis
    sapiente aliquam commodi distinctio. Quos, provident velit quibusdam quasi
    distinctio eius laudantium possimus dolorum nobis quaerat labore, explicabo
    modi perferendis numquam vero qui, soluta corrupti fuga eum tempore
    praesentiubitis eligendi consequatur quibusdam modi provident, mollitia
    consectetur rerum? Eum nostrum ullam doloribus, consectetur reiciendis
    laborum aliquam reprehenderit rerum provident quam in assumenda tempora iure
    ab quis excepturi totam, alias tenetur sapiente iste inventore voluptates!
    Alias modi tempore voluptate delectus perferendis, eius, sequi molestias non
    consequatur quas voluptas. Dolores, atque. Maiores cupiditate eligendi fugit
    suscipit voluptate quis. Tenetur sint optio quidem illum nemo eaque atque
    laudantium eveniet aliquid quo magnam beatae, temporibus reprehenderit
    sequi, nisi ex, magni numquam voluptatum eius soluta accusamus? Odio placeat
    repellendus aliquam dolorum libero? Autem dicta, aliquam dolorem commodi
    ratione in molestias, nisi quas incidunt facere voluptatum labore id
    architecto? Velit, quasi voluptatum. Atque aspernatur quia sequi delectus
    magnam voluptatibus similique iusto? Nisi hic labore incidunt sit dolorum
    commodi, dolore eaque libero quasi ipsa delectus ea architecto harum.
  </p>
</BaseLayout>
