---
---

<section
  id='footer'
  class='backdrop-filter backdrop-blur-lg bg-primary-light dark:bg-secondary/95 w-full p-4 rounded-t-xl shadow-xl lg:space-y-8'
>
  <div class='flex justify-center items-center'>
    <p class='text-neutral-500 dark:text-neutral-400'>
      &copy; {new Date().getFullYear()} Maria Louisa Failli. All rights reserved.
    </p>
  </div>
</section>
