---
import { SEO } from 'astro-seo';
import tabLogo from '/images/profile.webp';
import '../styles/main.scss';

export interface Props {
  pageTitle: string;
  // description: string;
  seoTitle: string;
  seoDescription: string;
  image?: string;
}

const {
  pageTitle,
  // description,
  seoTitle,
  seoDescription,
  image = '/placeholder-social.jpg',
} = Astro.props;
---

<!-- Global Metadata -->
<head>
  <script async src='https://www.googletagmanager.com/gtag/js?id=G-7WTEYMG4ZZ'
  ></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'G-7WTEYMG4ZZ');
  </script>
  <SEO title={seoTitle} description={seoDescription} />
  <link rel='sitemap' href='/sitemap-index.xml' />

  <meta charset='UTF-8' />
  <meta http-equiv='X-UA-Compatible' content='IE=edge' />
  <meta name='viewport' content='width=device-width,initial-scale=1' />
  <link rel='icon' type='image/svg+xml' href={tabLogo} />
  <title>{pageTitle}</title>
  <link rel='preconnect' href='https://fonts.googleapis.com' />
  <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
  <link
    href='https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;600&family=Source+Code+Pro:wght@200;400;600&display=swap'
    rel='stylesheet'
  />
  <!-- Google tag (gtag.js) -->

  <script src='/lib/theme-util.js' type='text/javascript' is:inline></script>
</head>
