---
import { SEO } from 'astro-seo';
import tabLogo from '/images/maria.jpg';

export interface Props {
  pageTitle: string;
  // description: string;
  seoTitle: string;
  seoDescription: string;
  image?: string;
}

const {
  pageTitle,
  // description,
  seoTitle,
  seoDescription,
  image = '/placeholder-social.jpg',
} = Astro.props;
---

<!-- Global Metadata -->
<head>
  <SEO title={seoTitle} description={seoDescription} />
  <meta charset='UTF-8' />
  <meta http-equiv='X-UA-Compatible' content='IE=edge' />
  <meta name='viewport' content='width=device-width,initial-scale=1' />
  <link rel='icon' type='image/svg+xml' href={tabLogo} />
  <title>{pageTitle}</title>
  <link rel='preconnect' href='https://fonts.googleapis.com' />
  <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
  <link
    href='https://fonts.googleapis.com/css2?family=REM:wght@100;200;300;400;500&display=swap'
    rel='stylesheet'
  />
  <script src='/lib/theme-util.js' type='text/javascript' is:inline></script>
</head>
