---
import Pill from '@components/DomElements/Pill';
import LinkCode from '@components/Typography/LinkCode.astro';
import Subtitle from '@components/Typography/Subtitle.astro';
import Title from '@components/Typography/Title.astro';
import CardLayout from '@layouts/CardLayout.astro';
---

<CardLayout
  id='about'
  classStyle='flex flex-col md:flex-row md:gap-8 content-center'
>
  <!-- Left Side -->

  <div class='mx-auto md:flex md:flex-col md:justify-center md:space-y-4'>
    <img
      src='/images/profile.jpeg'
      alt='Maria Failli'
      decoding='async'
      loading='lazy'
      class='rounded-lg h-24 max-w-none md:h-52 md:w-52 sm:h-36 sm:w-36 w-24'
    />
    <!-- <a
      href='/cv.pdf'
      class='font-medium items-center active:translate-y-px cursor-pointer h-10 inline-flex px-4 rounded-md select-none text-base'
      >Download CV</a
    > -->
  </div>
  <!-- Right Side -->
  <div class='mx-auto md:flex md:flex-col md:py-2 text-center md:text-left'>
    <!-- <div class='bg-green-400 md:flex md:flex-col md:justify-between md:py-2'> -->
    <div class='mt-4 md:mt-0 md:gap-y-2'>
      <Title title='Maria Louisa Failli' />

      <h3
        class='text-base md:text-md font-medium text-neutral-500 mb-4 md:mb-2'
      >
        Frontend Developer
      </h3>
      <div class='flex flex-col lg:flex-row nowrap gap-x-4 gap-y-1 md:gap-x-8'>
        <div class='flex flex-row gap-1 justify-center md:justify-normal'>
          <a
            href='mailto:mariafailli42@gmail.com'
            class='text-sm font-normal leading-relaxed sm:text-base'
            target='_self'
          >
            <Pill
              iconSrc='/images/email.svg'
              description='Send me an email'
              classListItems='hover:animate-pulse'
            />
          </a>
        </div>
        <div class='flex flex-row gap-1 justify-center md:justify-normal'>
          <a
            href='tel:91 15 47 99'
            class='text-sm font-normal leading-relaxed sm:text-base'
            target='_self'
          >
            <Pill
              iconSrc='/images/phone.svg'
              classListItems='hover:animate-pulse'
              description='Give me a call'
            />
          </a>
        </div>
      </div>

      <p class='mt-4 text-sm lg:text-base text-justify'>
        Greetings Observer👋, I'm Maria. I like developing, <span
          class='text-myTextBlue'>well-structured</span
        >, <span class='text-myTextBlue'>reusable</span>, and <span
          class='text-myTextBlue'>maintainable</span
        > software solutions. What I enjoy about the software world is the constant
        evolution of technologies and tools, always offering new opportunities to
        learn and create more efficient solutions. My journey in technology is driven
        by
        <span class='text-myTextBlue'>curiosity</span> and desire to make a positive
        impact through
        <span class='text-myTextBlue'>innovation</span>. In my free time, you'll
        find me immersed in DIY projects, from tinkering with electronics to
        crocheting🧶 or hiking🌄. I also love traveling✈️ and trying new food🍜.
        So far, I've been to <span class='text-myTextBlue'>15 countries</span> and
        two continents, and I look forward to exploring more places.
      </p>

      <Subtitle subTitle='Socials' />

      <!-- urls -->
      <div class='mt-4 md:mt-0 md:gap-y-2'>
        <div class='flex gap-x-4 gap-y-1 md:gap-x-8 justify-center'>
          <div class='flex flex-row gap-1 justify-center md:justify-normal'>
            <a href='https://github.com/Maria4lexzy'>
              <Pill iconSrc='/images/github.svg' />
            </a>
          </div>
          <div class='flex flex-row gap-1 justify-center md:justify-normal'>
            <a href='https://www.linkedin.com/in/maria-louisa-failli/'>
              <Pill iconSrc='/images/linkedin.svg' />
            </a>
          </div>
          <div class='flex flex-row gap-1 justify-center md:justify-normal'>
            <a
              href='https://www.linkedin.com/in/https://maria-louisa.com/projects/project-1/'
            >
              <Pill iconSrc='/images/portfolio.svg' />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</CardLayout>
