---
import PlainPill from '@components/DomElements/PlainPill';
import Title from '@components/Typography/Title.astro';
import sduCourses from '@data/sduCourses';
import viaCourses from '@data/viaCourses';
import CardLayout from '@layouts/CardLayout.astro';
---

<CardLayout
  id='education'
  dataAos='fade-up'
  classStyle='flex flex-col md:flex-row md:gap-4 '
>
  <div class='flex flex-col gap-4'>
    <Title title='education' />
    <div class='flex flex-row gap-4'>
      <div>
        <img
          src='/images/SDU.png'
          alt='Maria Failli'
          decoding='async'
          loading='lazy'
          class='rounded-lg h-12 w-auto'
        />
      </div>
      <div class='flex flex-col gap-1'>
        <h1 class='tracking-wide capitalize text-xl font-semibold'>
          University of Southern Denmark
        </h1>
        <p>MSc Software Engineering</p>
        <span class=''>February 2018 - July 2021</span>
      </div>
    </div>
    <div>
      <ul class='list-disc ml-6'>
        <li class='mb-4'>
          My education at SDU, has provided me with a comprehensive
          understanding of software engineering, allowing me to independently
          take responsibility for the entire software development lifecycle,
          from identifying needs and analyzing requirements to software design,
          programming, testing, and project management.
        </li>
        <li class='mb-4'>
          I have acquired knowledge of different paradigms and terminology,
          allowing me to design, construct, and test complex and reusable
          software systems.
        </li>
        <li>
          The program has prepared me for roles such as Software Developer,
          Mobile Application Developer, Systems Developer, Systems Consultant,
          IT and Systems Architect, Software Quality Engineer, Product Manager,
          Project Manager, or Head of IT Strategy.
        </li>
      </ul>

      <div class='flex flex-col'>
        <details
          class='open:bg-white dark:open:bg-slate-900 open:ring-1 open:ring-black/5 dark:open:ring-white/10 open:shadow-lg p-6 rounded-lg'
          open
        >
          <summary
            class='my-2 capitalize font-medium text-gray-700 dark:text-gray-300 text-lg cursor-pointer'
          >
            Courses
          </summary>

          <div class='flex flex-wrap gap-4 justify-stretch'>
            {
              sduCourses.map((course, index) => (
                <PlainPill id={index} description={course} />
              ))
            }
          </div>
        </details>
      </div>
    </div>

    <div class='bg-gray-200 dark:bg-gray-600/50 h-px w-full my-4'></div>
    <!-- via university -->

    <div class='flex flex-row gap-4'>
      <div>
        <img
          src='/images/VIA.png'
          alt='VIA University College'
          decoding='async'
          loading='lazy'
          class='rounded-lg h-12 w-auto'
        />
      </div>
      <div class='flex flex-col gap-1'>
        <h1 class='tracking-wide capitalize text-xl font-semibold'>
          BEng Software Technology Engineering
        </h1>
        <p>VIA University College</p>
        <span class=''>September 2021 - July 2023</span>
      </div>
    </div>
    <div>
      <ul class='list-disc ml-6'>
        <li class='mb-4'>
          My education at VIA has equipped me with a strong foundation in
          software engineering, and a broad understanding of industry dynamics.
          Additionally, it has nurtured my passion for technology and prepared
          me to thrive in the fast-paced and ever-evolving software industry,
          and allowed me to gain a solid foundation in software engineering
          principles and practices.
        </li>
        <li>
          As a VIA graduate, I am equipped to take on roles such as Project
          Manager, Software Developer, Systems Consultant, Software Quality
          Engineer, or IT Strategy Manager.
        </li>
      </ul>

      <div class='flex flex-col'>
        <details
          class='open:bg-white dark:open:bg-slate-900 open:ring-1 open:ring-black/5 dark:open:ring-white/10 open:shadow-lg p-6 rounded-lg'
          open
        >
          <summary
            class='my-2 capitalize font-medium text-gray-700 dark:text-gray-300 text-lg cursor-pointer'
          >
            Courses
          </summary>

          <div class='flex flex-wrap gap-4 justify-stretch'>
            {
              viaCourses.map((course, index) => (
                <PlainPill id={index} description={course} />
              ))
            }
          </div>
        </details>
      </div>
    </div>
  </div>
</CardLayout>
<style>
  .item {
    width: 200px;
    height: 200px;
    margin: 50px auto;
    padding-top: 75px;
    background: #ccc;
    text-align: center;
    color: #fff;
    font-size: 3em;
  }
</style>
@data/sdu @data/viaCourses
