---
import DatabaseManagement from '@components/Skills/Database_CloudSkills.astro';
import ProgLang from '@components/Skills/ProgLang.astro';
import WebDev from '@components/Skills/WebDev.astro';
import SWConcepts from '@components/Skills/SWConcepts.astro';
import Title from '@components/Typography/Title.astro';
import CardLayout from '@layouts/CardLayout.astro';
---

<CardLayout dataAos='fade-up' id='skills' classStyle=''>
  <Title title='skills' />
  <div class='flex flex-col gap-8'>
    <ProgLang />
    <WebDev />
    <DatabaseManagement />
    <SWConcepts />
  </div>
  <!-- Use the "border" and "border-t" utility classes to create a horizontal rule -->
</CardLayout>
