---
import DatabaseManagement from '@components/Skills/DatabaseManagement.astro';
import ProgLang from '@components/Skills/ProgLang.astro';
import WebDev from '@components/Skills/WebDev.astro';
import Title from '@components/Typography/Title.astro';
import Accordion from './Accordion.jsx'; // Assuming Accordion.js is in the same folder as this file
---

<div
  class='backdrop-filter backdrop-blur-md bg-opacity-10 w-3/4 mx-auto p-8 rounded-2xl shadow-md'
>
  <Title title='skills' />

  <div className='flex flex-col gap-8'>
    {/* Use the Accordion component for each section */}
    <Accordion client:load title='Programming Languages'>
      <ProgLang />
    </Accordion>

    <div className='bg-gray-200 dark:bg-gray-600 h-px w-full'></div>

    <Accordion title='Web Development'>
      <WebDev />
    </Accordion>

    <div className='bg-gray-200 dark:bg-gray-600 h-px w-full'></div>

    <Accordion title='Database Management'>
      <DatabaseManagement />
    </Accordion>

    <div className='bg-gray-200 dark:bg-gray-600 h-px w-full'></div>
  </div>
</div>
