---
import LayoutHeader from '@components/LayoutHeader.astro';
import Nav from '@components/Header/Nav.astro';
export interface Props {
  pageTitle: string;
  seoTitle: string;
  seoDescription: string;
  image?: string;
}
const {
  pageTitle,
  seoTitle,
  seoDescription,
  image = '/placeholder-social.jpg',
} = Astro.props;
---

<!DOCTYPE html>
<html lang='en' class='test'>
  <LayoutHeader
    pageTitle={pageTitle}
    seoTitle={seoTitle}
    seoDescription={seoDescription}
  />
  <body class='bg-white dark:bg-slate-800 text-slate-800 dark:text-white'>
    <Nav />
    <slot />

    <!-- <Footer /> -->

    <style>
      body {
        font-family: 'REM', sans-serif;
        min-height: 100vh;
      }
    </style>
  </body>
</html>
