---
import LayoutHeader from '@components/LayoutHeader.astro';
import Nav from '@components/Header/Nav.astro';
import Footer from '@components/Footer.astro';

export interface Props {
  pageTitle: string;
  seoTitle: string;
  seoDescription: string;
  image?: string;
}
const {
  pageTitle,
  seoTitle,
  seoDescription,
  image = '/placeholder-social.jpg',
} = Astro.props;
---

<!DOCTYPE html>
<html lang='en' class='scroll-smooth'>
  <LayoutHeader
    pageTitle={pageTitle}
    seoTitle={seoTitle}
    seoDescription={seoDescription}
  />
  <body
    class='overflow-x-hidden bg-primary/80 dark:bg-secondary-dark/90 text-neutral-700 dark:text-neutral-300 font-dosis transition-colors ease-in duration-450'
  >
    <Nav class='' />
    <slot />
    <Footer />
  </body>
</html>
