---
import Nav from '@components/Header/Nav.astro';
import Footer from '@components/Footer.astro';
import LayoutTags from './LayoutTags.astro';

export interface Props {
  pageTitle: string;
  seoTitle: string;
  seoDescription: string;
}
const { pageTitle, seoTitle, seoDescription } = Astro.props;
---

<!DOCTYPE html>
<html lang='en' class='scroll-smooth'>
  <LayoutTags
    pageTitle={pageTitle}
    seoTitle={seoTitle}
    seoDescription={seoDescription}
  />
  <body
    class='overflow-x-hidden bg-primary/80 dark:bg-secondary-dark/90 text-neutral-700 dark:text-neutral-300 font-dosis transition-colors ease-in duration-450'
  >
    <div
      id='cursor'
      class='border-2 border-primary-text dark:border-secondary-text'
    >
    </div>
    <div
      id='pointer'
      class='rounded-full dark:bg-secondary-text bg-primary-text'
    >
    </div>
    <Nav class='' />
    <div id='tab-preview'>
      <div class='tab-preview-content'>
        <img src='' alt='Tab Preview Image' />
        <p class='tab-preview-title'>Tab Title</p>
      </div>
    </div>

    <div class='pages-container'>
      <slot />
    </div>
    <Footer />
    <style>
      #tab-preview {
        position: fixed;
        bottom: 10px;
        right: 10px;
        width: 200px;
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
        opacity: 0; /* Initially hidden */
        transition: opacity 0.2s ease-in-out;
      }

      .tab-preview-content {
        padding: 10px;
      }

      .tab-preview-title {
        font-weight: bold;
      }
    </style>
  </body>
</html>
