---
import LayoutHeader from '@components/LayoutHeader.astro';
import Nav from '@components/Header/Nav.astro';
export interface Props {
  pageTitle: string;
  seoTitle: string;
  seoDescription: string;
  image?: string;
}
const {
  pageTitle,
  seoTitle,
  seoDescription,
  image = '/placeholder-social.jpg',
} = Astro.props;
---

<!DOCTYPE html>
<html lang='en' class='test'>
  <LayoutHeader
    pageTitle={pageTitle}
    seoTitle={seoTitle}
    seoDescription={seoDescription}
  />
  <body
    class='bg-neutral-100 dark:bg-slate-950/90 text-neutral-700 dark:text-neutral-400'
  >
    <Nav />
    <slot />

    <!-- <Footer /> -->

    <style>
      body {
        font-family: 'REM', sans-serif;
        min-height: 100vh;
        min-width: 100%;
      }
    </style>
  </body><!--     class='bg-gradient-to-br from-pink-300 to-blue-300 dark:bg-gradient-to-br dark:from-pink-800 dark:via-pink-700 dark:to-blue-900 text-slate-800 dark:text-gray-200'
 -->
</html>
