---
const { classStyle, id, dataAos } = Astro.props;
---

<section
  data-aos={dataAos}
  id={id}
  class={` ${classStyle} section my-4 backdrop-filter backdrop-blur-lg bg-primary-light dark:bg-secondary/95 w-3/4 mx-auto p-8 rounded-2xl shadow-xl`}
>
  <slot />
</section>
