---
import LayoutTags from "./LayoutTags.astro";

export interface Props {
  pageTitle: string;
  seoTitle: string;
  seoDescription: string;
  image?: string;
}
const { pageTitle, seoTitle, seoDescription } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
  <LayoutTags
    pageTitle={pageTitle}
    seoTitle={seoTitle}
    seoDescription={seoDescription}
  />
  <body
    class="overflow-x-hidden bg-primary/20 dark:bg-secondary font-dosis text-neutral-700 dark:text-neutral-300">
    <slot />
  </body>
</html>
