---
import SkillBar from './SkillBar';
import Subtitle from '../Typography/Subtitle.astro';
---

<div class='flex flex-col'>
  <Subtitle subTitle=' Languages I Speak' />

  <div class='flex flex-wrap gap-8'>
    <SkillBar
      client:only='react'
      iconSrc='/images/gb-ukm.svg'
      skillName='English'
      progress={90}
      skillUrl='/'
      backgroundColor=''
    />
    <SkillBar
      client:only='react'
      iconSrc='/images/italianflag.svg'
      skillName='Italian'
      progress={90}
      skillUrl='/'
      backgroundColor=''
    />
    <SkillBar
      client:only='react'
      iconSrc='/images/danish.svg'
      skillName='Danish'
      progress={50}
      skillUrl='/'
      backgroundColor=''
    />
    <SkillBar
      client:only='react'
      iconSrc='/images/czech.svg'
      skillName='Czech'
      progress={20}
      skillUrl='/'
      backgroundColor=''
    />
  </div>
</div>
