---
import Pill from '../DomElements/Pill';
import Subtitle from '../Typography/Subtitle.astro';
---

<div class='flex flex-col'>
  <Subtitle subTitle=' Languages I Speak' />

  <div class='flex flex-wrap gap-8'>
    <Pill iconSrc='/images/gb-ukm.svg' description='English - Fluent/Native' />
    <Pill
      iconSrc='/images/italianflag.svg'
      description='Italian - Second Language'
    />
    <Pill iconSrc='/images/danish.svg' description='Danish - A2' />
    <Pill iconSrc='/images/czech.svg' description='Czech A1' />
  </div>
</div>
